.random-planet {
   margin-top: 40px;
}

.random-planet-inner {
   background: rgb(66 65 65);
   border-radius: 10px;
   padding: 20px 0 20px 20px;
   display: flex;
   align-items: flex-start;
   gap: 30px;
}

.random-planet-img {
   width: 300px;
   height: 300px;
   border: 1px solid #fff;
}

.random-planet-title {
   font-size: 26px;
   color: #fff;
}

.random-planet-params {
   margin-top: 20px;
   padding-left: 20px;
}

.random-planet-param {
   display: block;
   padding: 10px 0;
   border-top: 1px solid #fff;
}