.random-planet {
   margin-top: 40px;
}

.random-planet-inner {
   background: rgb(66 65 65);
   border-radius: 10px;
   padding: 20px 0 20px 20px;
   display: flex;
   align-items: center;
   gap: 30px;
   box-shadow: 0 0 5px #ccc;
}

.random-planet-img {
   border-radius: 20px;
   overflow: hidden;
   width: 200px;
   height: 200px;
}

.random-planet-img img {
   width: 100%;
   height: 100%;
}

.random-planet-title {
   font-size: 26px;
   color: #fff;
}

.random-planet-params {
   margin-top: 20px;
   padding-left: 20px;
}

.random-planet-param {
   display: block;
   padding: 10px 0;
   border-top: 1px solid #fff;
}