.items {
   max-height: 100%;
   flex: 1 1 auto;
   border-radius: 20px;
   overflow: scroll;
}

.items-list {
   background: rgb(66 65 65);
   list-style: none;
   padding: 0;
   margin: 0;
}

.list-item {
   padding: 15px 0 15px 20px;
   border-top: 1px solid rgb(150, 150, 150);
   border-bottom: 1px solid rgb(150, 150, 150);
   cursor: pointer;
   transition: .3s;
}

.list-item:hover {
   background: rgb(82, 82, 82);
}

.list-item:first-child,
.list-item:last-child {
   border: none;
}

.item {
   color: #fff;
   font-size: 18px;
}