.persons {
   margin-top: 30px;
}

.persons-list {
   background: rgb(66 65 65);
   list-style: none;
   padding: 0;
   margin: 0;
   border-radius: 10px;
   overflow: hidden;
}

.persons-item {
   padding: 15px 0 15px 20px;
   border-top: 1px solid rgb(150, 150, 150);
   border-bottom: 1px solid rgb(150, 150, 150);
   cursor: pointer;
   transition: .3s;
}

.persons-item:hover {
   background: rgb(82, 82, 82);
}

.persons-item:first-child,
.persons-item:last-child {
   border: none;
}

.person {
   color: #fff;
   font-size: 18px;
}